:root{
    --font-heading: 'Belleza', sans-serif;
    --font-text: 'Lora', serif;
}
header hero{
    height: 60%;
}
@media (min-width: 1240px){
    header hero{
        height: 75%;
    }
}
.heading{
    font-size: 1.4rem;
    font-family: var(--font-heading);
}
.text{
    font-size: 14px;
}
@media (min-width: 1240px) {
    .heading{
        font-size: 5rem;
    }
    .text{
        font-size: 20px;
    }
}

.empresas img{
    margin: .5rem 0;
    width: 75%;
}
@media (min-width: 1240px) {
    .empresas{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .empresas img{
        width: 25%;
    }
}
.text-center--lg{
    text-align: center;
}
.ff-heading{
    font-family: var(--font-heading);
    color: #000;
}
.section .d-flex{
    justify-content: center;
}
@media (min-width: 1240px) {
    .section{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mt-4 .text-center--lg{
        font-size: 1.4rem;
    }
    .text-center--lg{
        text-align: inherit;
    }
}